// Grayscale
$white:    #ffffff !default;
$gray-100: #efefef !default; 
$gray-200: #eaeaea !default;
$gray-300: #d6d6d6 !default;
$gray-400: #d8d8d8 !default;
$gray-500: #abaaac !default;
$gray-600: #707070 !default;
$gray-700: #4a4a4a !default;
$gray-800: #333333 !default;
$gray-900: #1c1c1c !default;  
$black:    #000 !default;

// App colors
$blue:    #00a3a0 !default;
$indigo:  #6610f2 !default;
$purple:  #6a3a94 !default;
$pink:    #ffcece !default;
$red:     #ff3838 !default;
$orange:  #fd964f !default;
$yellow:  #edbf1c !default;
$green:   #00AA48 !default;
$teal:    #79A745 !default;
$cyan:    #17a2b8 !default;

